.Display-window {
  width: 220px;
  background-color: black;
  height: 60px;
  color: #FFFC00;
  font-size: 25px;
  margin: 5px auto;
  padding: 5px 10px;
  text-align: right;
  word-wrap: break-word;
  border-radius: 5px
}
