.History-window {
  width: 220px;
  background-color: black;
  height: 325px;
  color: #ebff00;
  font-size: 25px;
  margin: 10px auto;
  padding: 5px 10px;
  text-align: right;
  word-wrap: break-word;
}
